.select .main{
border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}
.items {
    display: none;
    padding: 5px;
    position: absolute;
    border: 1px black solid
}
/*.select.active .items {*/
/*    display: block;*/
/*}*/
.item.selected{
    background-color: blue;
    color: white;
}